table{
    background-color: black;
}

th{
    background-color: cyan;
    padding-right: 15px;
    padding-left: 15px;
}

td{
    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
}