.Miura_pic{
    margin-left: 650px;
    margin-top: 45px;
    transition: opacity 0.15s, transform 0.5s;
}

.Miura_pic:hover{
    opacity: 0.95;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
    transform: scale(1.05);
}

.Miura_pic:active{
    opacity: 0.7;
    
}

.Miura_text{
    margin-left: 630px;
}

.highfontboldtxt{
    font-size: 18px;
    font-weight: bold;
}