*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    touch-action: none; /* Prevents double-tap zoom and scroll gestures */
    overscroll-behavior: none; /* Prevents pull-to-refresh and scroll chaining */
    overflow: hidden;
}
body{
    line-height: 2rem;
}
.game-container{
    background-color: #1e272e;
}
.player{
    position: absolute;
    width: 100px;
    height: 100px;
    transform: translate(-50% ,-50%);
}
.player-img{
    width: 100%;
    height: 100%;
    transition: all 0.15s;
}