.center-align{
    text-align: center;
}
.left-align{
    text-align: left;
}
.right-align{
    text-align: right;
}
.img-effect-default{
cursor: pointer;
transition: opacity 0.15s,transform 0.5s, box-shadow 0.15s;

}
.img-effect-default:hover{
    opacity: 0.94;
    transform: scale(1.05);
    box-shadow: 2.5px 2.5px 10px black;
}
.img-effect-default:active{
    opacity: 0.8;;
}
.reset-margin-padding{
    margin: 0;
    padding: 0;
}
.character-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    border: red dotted;
    max-width: 90%;
    width: 100%;
}
.character{
    flex: 1 1 0;
    text-align: center;
    box-sizing: border-box;
    margin: 20px;
    
}
.gallery-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   /* border: dotted red;*/
    max-width: 90%;
    width: 100%;
    padding: 10px;
}
.gallery-img{
    flex-wrap: wrap;
    flex: 1 1 0;
    margin: 10px;
    height: 250px;
    width: 350px;
  
}
.black-background{
    background-color: #1e272e;
}
.white-text-colour{
    color: white;
}
.height-300{
    height: 300px;
    
}
.width-350{
    width: 350px;
}
.object-fit-cover{
object-fit: cover;
}
.object-position-33{
    object-position: 33%;
}
.object-position-left{
    object-position: left;
}
.object-position-top{
    object-position: top;
}
.form-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90%;
    width: 100%;
    /*border: red dotted; */
    padding: 10px;
}
.form-item{
    flex: 1 1 calc(75% - 20px);
    margin: 10px;
    text-align: center;
}
.width-25{
    width: 25px;
    
}
.height-25{
    height: 25px;
}
.text-font-30{
    font-size: 30px;
    font-weight: bolder;
}
.select-option{
    background-color: #1e272e;
    border: #1e272e solid;
    color: white;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
    margin: 0px 0px 5px 5px;
}
.submit-button{
    background-color: #0be881;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding: 20px;
    transition: box-shadow 0.15s,border 0.15s,transform 0.15s;
    border: none;
}
.submit-button:hover{
    box-shadow: 2px 2px 10px black;
    border: 1px #3d3d3d solid;
    transform: scale(0.98);

}
.submit-button:active{
    transform: scale(0.95);
}
.input-text-effect{
    padding: 10px;
    font-size: 20px;
    background-color: #1e272e;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
}
.container-uncentered{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 90%;
    width: 100%;
  /*  border: red dotted; */
}
.container-centered{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 90%;
    width: 100%;
    justify-content: center;
  /*  border: red dotted; */
}
.flex-item-single-line{
    flex: 1 1 calc(75% - 20px);
    flex-wrap: wrap;
    
}
.emerald-text-colour{
color: #2ecc71;
}
.sunflower-text-colour{
    color: #f1c40f;
}
.wizard-grey-text-colour{
    color:#535c68
}
.display-inline{
    display: inline;
}
.margin-left-5{
    margin-left: 5px;
}
.margin-10{
    margin: 10px;
}
.margin-top-bottom-20{
    margin: 20px 0px;
}
.display-inline-block{
    display: inline-block;
}
.display-block{
    display: block;
}
.flex-item{
    flex: 1 1 0;
    flex-wrap: wrap;
}
.padding-20{
    padding: 20px;
}
.more-info-button , .back-button{
    background-color: #1e272e;
    font-weight: bolder;
    font-size: 20px;
    padding: 20px;
    border: none;
    margin: 50px;
    transition: transform 0.15s, box-shadow 0.15s;
}
.more-info-button:hover , .back-button:hover{
    transform: scale(0.96);
    box-shadow: 2px 2px 10px black;
}
.more-info-button:active , .back-button:active{
    transform: scale(0.9);
}
.sunflower-background{
    background-color: #f1c40f;
}
.rok-table{
    background-color: #f1c40f;
    padding: 24px;
    font-weight: bolder;
    flex-wrap: wrap;
}
.rok-table:hover{
    background-color: #fed330;
    cursor: pointer;
    border: solid black 1.5px;
}
.overflow-x-scroll{
    overflow-x: scroll;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: flex-start; /* Ensures cards are independent in height */
}
.card{
    max-width: 325px;
    min-width: 325px;
    width: 100%;
    flex-wrap: wrap;
    margin: 50px;
    background-color: #1e272e;
}
.card-image{
    max-width: 325px;
    width: 100%;
    max-height: 200px;
    height: 100%;
    object-fit: cover;
}
.card-content{
    color: white;
    text-align: center;
}
.card-button{
    background-color: black;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    color: white;
}
.nav-bar{
    background-color: black;
    color: white;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    text-align: center;
    
}
.nav-bar-list{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}
.nav-bar-items{
    padding: 15px;
    float: left;
}
.nav-bar-items:hover{
    background-color: rgb(54, 54, 54);
}
.nav-bar a{
    color: inherit;
    text-decoration: none;
}
.a-no-style{
    color: inherit;
    text-decoration: none;
}
.card-base{
    width: 100%;
    flex-wrap: wrap;
    margin: 50px;
    background-color: #1e272e;
}
.card-image-base{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.max-min-width-200{
    max-width: 200px;
    min-width: 200px;
}
.max-min-height-200{
    max-height: 200px;
    min-height: 200px;
}

.pagination{
    margin-bottom: 50px;
    text-align: center;
}
.pagination-elements{
    margin: 10px;
    padding: 8px 15px;
    display: inline-block;
    transition: transform 0.15s, background-color 0.15s;
}
.pagination-elements:hover:not(.pagination-current-btn){
    background-color: #394955;
    font-weight: bolder;
    cursor: pointer;
}
.pagination-elements:active{
    transform: scale(0.98);
}
.pagination-current-btn{
    background-color: #2a6fa3;
    font-weight: bolder;
    cursor: pointer;
    transition: transform 0.15s, background-color 0.15s;
}
.pagination-current-btn:active{
    transform: scale(0.98);
}
.border-radius-100{
    border-radius: 100px;
}