*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.game-container{
    aspect-ratio: 4/3;
    width: 100vw;
    max-height: 100vh;
    background-color: rgb(33, 33, 39);
    border: 5px solid black;
}