@use "./mixins.scss";
.main-content{
    @include mixins.flexCenterVertical();
    flex-direction: column;
    gap: 20px;
    .card-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        @media (max-width: 900px) {
                grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 600px) {
            grid-template-columns: 1fr;
        }
    }
}